body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #dddddd;
    margin-top: 0;
    margin-left: 0;
}

.right-align {
    text-align: right;
    padding-right: 0.3em;
}

.left-align {
    text-align: left;
    padding-right: 0.3em;
}

.prev-boss {
    width: 180px;
    display: inline-block;
}

.next-boss {
    width: 180px;
    display: inline-block;
    text-align: right;
}

#boss-img {
    width: 20px;
}

.icon-tank {
    border: 2px solid rebeccapurple;
    border-radius: 1px;
    margin: -2px;
}

.icon-special {
    border: 2px solid forestgreen;
    border-radius: 1px;
    margin: -2px;
}

.boss-nav-img {
    width: 29px;
    height: 29px;
    display: inline-block;
    overflow: hidden;
    padding: 1px;

    margin: 1px;
}

.boss-nav-img-current {
    border: 2px solid green;
    border-radius: 3px;
    width: 29px;
    height: 29px;
    display: inline-block;
    overflow: hidden;
    padding: 1px;

    margin: -1px;
}

.boss-img {
    width: 25px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    margin-left: 1px;
    margin-right: 1px;
}


.border-box {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 1px;
    padding: 3px;
    width: fit-content;
}

.date-filter-label {
    width: 40px;
    display: inline-block;
}

#filters {

}

#main-content {
    margin-left: 200px;
    margin-top: 90px;
}

#left-col {
    width: 200px;
    position: fixed;
    margin-top: -10px;
}

#nav {
    width: fit-content;
}

#header {
    position: fixed;
    margin-top: -90px;
    background: #dddddd;
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 16px;
}

h2 {
    margin: 0;
}

.dist-viz {
    background: #c3c3c3;
}

.percentile-68-Warrior {
    fill: rgb(202, 192, 41);
    stroke-width: 0;
}

.percentile-95-Warrior {
    fill: rgb(222, 212, 61);
    stroke-width: 0;
}

.percentile-68-Guardian {
    fill: rgb(0, 197, 230);
    stroke-width: 0;
}

.percentile-95-Guardian {
    fill: rgb(10, 222, 255);
    stroke-width: 0;
}

.percentile-68-Necromancer {
    fill: rgb(0,200, 98);
    stroke-width: 0;
}

.percentile-95-Necromancer {
    fill: rgb(5,227, 125);
    stroke-width: 0;
}

.percentile-68-Elementalist {
    fill: rgb(227, 36, 36 );
    stroke-width: 0;
}

.percentile-95-Elementalist {
    fill: rgb(247, 56, 56 );
    stroke-width: 0;
}

.percentile-68-Mesmer {
    fill: rgb(184, 39, 189);
    stroke-width: 0;
}

.percentile-95-Mesmer {
    fill: rgb(204, 59, 209);
    stroke-width: 0;
}

.percentile-68-Thief {
    fill: rgb(199, 87, 90);
    stroke-width: 0;
}

.percentile-95-Thief {
    fill: rgb(224, 97, 115);
    stroke-width: 0;
}

.percentile-68-Engineer {
    fill: rgb(207, 95, 21);
    stroke-width: 0;
}

.percentile-95-Engineer {
    fill: rgb(227, 115, 41);
    stroke-width: 0;
}

.percentile-68-Revenant {
    fill: rgb(141, 21, 21);
    stroke-width: 0;
}

.percentile-95-Revenant {
    fill: rgb(161, 41, 41);
    stroke-width: 0;
}
.percentile-68-Ranger {
    fill: rgb(110, 195, 0);
    stroke-width: 0;
}

.percentile-95-Ranger {
    fill: rgb(135, 222, 10);
    stroke-width: 0;
}

.ht_boss_bar {
    display:inline-block;
    border-radius: 3px;
    width:50px;
    height: 5px;
}

.ht_boss_bars {
    height: 7px;
    margin-top: -7px;
}

.ht_reason {
    margin-top: 7px;
}

th {
    user-select: none;
}

#fail-attempts td {
    padding-top: 0;
}


